    </div>

    <footer class="w-full bg-blue-500 text-white p-4 flex items-center justify-between">
        <h1 class="text-center text-xl">FRUIT STORE</h1>
        <a href="https://yudha-dev.vercel.app/portfolio" class="py-0.5 px-2 bg-slate-900 hover:bg-white hover:text-slate-900 text-white">BY YUDHA DEV</a>
    </footer>
</body>
</html>