<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>FRUIT STORE</title>
</head>
<body class="select-none">

    <%- include('navbar.ejs') %>

    <div class="w-full py-0.5">
    
