<%- include('./partials/header.ejs') %>

    <div class="h-[500px] flex justify-center items-center">
        <h1 class="text-4xl">FRUIT STORE</h1>
    </div>

<%- include('./partials/footer.ejs') %>
