<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>ADD BRAND</h1>

    <form action="/brands/add" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name Brand">
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="City Brand">
        </div>
        <div>
            <label for="total_employees">Total Employee</label>
            <input type="number" id="total_employees" name="total_employees" placeholder="Total Employee">
        </div>
        <div>
            <button type="submit">ADD NEW BRAND</button>
            <button>CANCEL</button>
        </div>
    </form>
</body>
</html>