<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT BRAND</h1>


    <form action="/brands/update/<%= brand.id %>" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= brand.name %>">
        </div>
        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" value="<%= brand.image %>">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" id="city" name="city" value="<%= brand.city %>">
        </div>
        <div>
            <button type="submit">EDIT BRAND</button>
            <a href="/brands">KEMBALI</a>
        </div>
    </form>
</body>
</html>